.header {
    position: relative;
    background-image: url(/assets/img/header-background.png);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;

    form {
        background-color: whitesmoke;
        padding: 10%;
        border-radius: 2%;
        min-height: 400px;
        max-height: 100%;
        animation: formReload 2s ease-in-out;
        input {
            width: 100%;
            height: 70px;
        }
        button  {
            width: 100%;
        }
        
        button .btn btn-success {
            width: 50%;
        }
    }

    h1 {
        font-size: 90px;
        font-weight: 900;
        font-family: 'Otomanopee One', sans-serif;
        color: rgb(217, 255, 0);
        align-self: flex-end;
        animation: titleReload 2s;
    }
}
.divider {
    height: 100px;
}