
.navbar {
    padding: .9rem 6rem;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Otomanopee One', sans-serif;
    background-color: rgb(47, 0, 109);

}
.navbar-light .navbar-nav .nav-link{
    color: white;
    text-transform: uppercase;
}