
.section2 {
    width: 100%;
    min-height: 100vh;

    .upper-div {

        min-height: 40%;
    }
    h2 {

        color: blue;
        font-size: 30px;
        font-weight: 900;
        font-family: 'Otomanopee One', sans-serif;
    }
    .dropdown-container {
            
        .drop {

            display: inline-block;
            height: 50px;

            button {

                background-color: whitesmoke;
                color: black;
                height: 50px;
                min-width: 450px;
                
            }

        }

        .submit {
            height: 50px;
            min-width: 11%;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-weight: 100;
            font-size: 20px;
            margin-top: 15px;
        }

    }
    .btn-container {
        
         width: 100%;

        button {
            color: black;
            background-color: grey;
            margin-left: 1px;

        }
    }
        
    .p-4 {
            padding: 4rem!important;
            
        }
  
}
