@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.section3 {
    min-height: 100vh;


         h2 {
            margin-left: 40px;
            color: blue;
            font-size: 30px;
            font-weight: 400;
            font-family: 'Otomanopee One', sans-serif;
            }
        h3 {
                list-style: none;
                text-decoration: none;
                text-align: center;
                color: blue;
                font-size: 20px;
                font-weight: 900;
                font-family: sans-serif;
            }

        .item {
            position: relative;
            float: left;
            overflow: hidden;
            margin: 10px 1%;
            min-width: 220px;
            max-width: 310px;
            width: 100%;
            text-align: center;
            padding: 10%;
            //box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        }

        .item * {
            box-sizing: border-box;
        }

        .item {

            img {
                max-width: 100%;
                vertical-align: top;
                height: 290px;
                background-color: transparent;
                //box-shadow: 0 0 51px rgba(0, 0, 0, 0.15);
            }
        }

        .item {

            i {
                position: absolute;
                top: 51%;
                left: 39%;
                border-radius: 50%;
                font-size: 900%;
                color: #920000;
                width: 60px;
                height: 60px;
                line-height: 60px;
                //box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                
            }
        }

        .item {
            a {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            position: absolute;

            }
        }


        .item:hover {
        
        img {
            opacity: 0.3;
            filter: grayscale(100%);
        }
    }   

        .item  {
        * {
                transition: all .35s ease-in-out;
        }
    }   

        .item {
            
            i {
                transform: translate(-50%, -50%) scale(0);
                transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }
    }

        .item:hover {
        
        i {
            transform: translate(-50%, -50%) scale(1);
            transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }
    }

}

