.topbar {
    left: 100%;
    width:100%;
    background: #d6d2d1;
    font-size: 14px;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    animation: fading;

        .contact-info {
            
            dl, ol, ul {
                 margin-top: 10px; 
                 margin-bottom: 1rem; 
            }
            li {
                display: inline-block;
                padding: 8px 0;
                font-weight: 900;
                font-size: 20px;
            }

            
            a {
                color: rgba(0, 0, 0, 0.8);
                transition: 0.3s;
            }
            
            a:hover {
                color: rgb(0, 0, 0);
            }
            
            i {
                color: #000000;
                padding-right: 5px;
            }
    
        .cta a {
            color: rgb(0, 0, 0);
            background: #ff5821;
            //padding: 8px 20px;
            display: inline-block;
            transition: 0.3s;
        }
        
        .cta a:hover {
            background: #ff0000;
        }
    }
}
