// @keyframes fading {
//     0% {opacity:0;}
//     50% {opacity:0.5;}
//     100% {opacity:1;}
//   }

  @keyframes titleReload {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    80% {
        color: gold;
        transform: translateY(100px);
    }
    
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes formReload {
  0% {
      opacity: 0;
      transform: translateX(-60px);
  }

  80% {
      
      transform: translateX(30px);
  }
  
  100% {
      opacity: 1;
      transform: translate(0);
  }
}
