@import url('https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap');
* {
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #313030;
  }
  