@import url("https://fonts.googleapis.com/css2?family=Otomanopee+One&display=swap");
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:200");
@-webkit-keyframes titleReload {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  80% {
    color: gold;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes titleReload {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  80% {
    color: gold;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes formReload {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  80% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes formReload {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-60px);
            transform: translateX(-60px);
  }
  80% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

* {
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #313030;
}

.header {
  position: relative;
  background-image: url(/assets/img/header-background.png);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.header form {
  background-color: whitesmoke;
  padding: 10%;
  border-radius: 2%;
  min-height: 400px;
  max-height: 100%;
  -webkit-animation: formReload 2s ease-in-out;
          animation: formReload 2s ease-in-out;
}

.header form input {
  width: 100%;
  height: 70px;
}

.header form button {
  width: 100%;
}

.header form button .btn btn-success {
  width: 50%;
}

.header h1 {
  font-size: 90px;
  font-weight: 900;
  font-family: 'Otomanopee One', sans-serif;
  color: #d9ff00;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-animation: titleReload 2s;
          animation: titleReload 2s;
}

.divider {
  height: 100px;
}

.navbar {
  padding: .9rem 6rem;
  font-size: 40px;
  font-weight: 900;
  font-family: 'Otomanopee One', sans-serif;
  background-color: #2f006d;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  text-transform: uppercase;
}

.topbar {
  left: 100%;
  width: 100%;
  background: #d6d2d1;
  font-size: 14px;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  -webkit-animation: fading;
          animation: fading;
}

.topbar .contact-info dl, .topbar .contact-info ol, .topbar .contact-info ul {
  margin-top: 10px;
  margin-bottom: 1rem;
}

.topbar .contact-info li {
  display: inline-block;
  padding: 8px 0;
  font-weight: 900;
  font-size: 20px;
}

.topbar .contact-info a {
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.topbar .contact-info a:hover {
  color: black;
}

.topbar .contact-info i {
  color: #000000;
  padding-right: 5px;
}

.topbar .contact-info .cta a {
  color: black;
  background: #ff5821;
  display: inline-block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.topbar .contact-info .cta a:hover {
  background: #ff0000;
}

.section2 {
  width: 100%;
  min-height: 100vh;
}

.section2 .upper-div {
  min-height: 40%;
}

.section2 h2 {
  color: blue;
  font-size: 30px;
  font-weight: 900;
  font-family: 'Otomanopee One', sans-serif;
}

.section2 .dropdown-container .drop {
  display: inline-block;
  height: 50px;
}

.section2 .dropdown-container .drop button {
  background-color: whitesmoke;
  color: black;
  height: 50px;
  min-width: 450px;
}

.section2 .dropdown-container .submit {
  height: 50px;
  min-width: 11%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 20px;
  margin-top: 15px;
}

.section2 .btn-container {
  width: 100%;
}

.section2 .btn-container button {
  color: black;
  background-color: grey;
  margin-left: 1px;
}

.section2 .p-4 {
  padding: 4rem !important;
}

.section3 {
  min-height: 100vh;
}

.section3 h2 {
  margin-left: 40px;
  color: blue;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Otomanopee One', sans-serif;
}

.section3 h3 {
  list-style: none;
  text-decoration: none;
  text-align: center;
  color: blue;
  font-size: 20px;
  font-weight: 900;
  font-family: sans-serif;
}

.section3 .item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  text-align: center;
  padding: 10%;
}

.section3 .item * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section3 .item img {
  max-width: 100%;
  vertical-align: top;
  height: 290px;
  background-color: transparent;
}

.section3 .item i {
  position: absolute;
  top: 51%;
  left: 39%;
  border-radius: 50%;
  font-size: 900%;
  color: #920000;
  width: 60px;
  height: 60px;
  line-height: 60px;
}

.section3 .item a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

.section3 .item:hover img {
  opacity: 0.3;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.section3 .item * {
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.section3 .item i {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: -webkit-transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: -webkit-transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  transition: transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045), -webkit-transform 300ms 0ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.section3 .item:hover i {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 300ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
/*# sourceMappingURL=main.css.map */